<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <input v-model="todoItem" @keyup.enter="addToList"/>
        <ul>
            <li  v-for="(item,index) in list" @click="deletes(index)">{{item}}</li>
        </ul>
    </div>
    <script>
        new Vue({
            el:"#app",
            data:{
                todoItem:"",
                list:[]
            },
            methods:{
                addToList(){
                    this.list.push(this.todoItem);
                    this.todoItem="";
                },
                deletes(n){
                    this.list.splice(n,1)
                }
            }
        })
    </script>
</body>
</html>