<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <ul>
            <li v-for="(item,key,index) in person">{{index}}:{{key}}-{{item}}</li>
            <!-- <template v-for="">
                <div></div>
                <div></div>
            </template> -->
        </ul>
        <input v-model="msg" />
        <h1>{{msg}}</h1>
        <!-- <input type="checkbox" v-model="msg" /> -->
        <!-- <input type="checkbox" value="aa" v-model="msg" />
        <input type="checkbox" value="bb" v-model="msg" />
        <input type="checkbox" value="cc" v-model="msg" /> -->

        <!-- <input v-model="msg" type="radio" value="aa"/>
        <input v-model="msg" type="radio" value="bb"/>
        <input v-model="msg" type="radio" value="cc"/>
        <input v-model="msg" type="radio" value="dd"/> -->
        <select v-model="msg">
            <option>aa</option>
            <option>cc</option>
            <option>bb</option>
        </select>
        <button @click="change">按钮</button>
    </div>
    <script src="./dist/main.js"></script>
    <script>
        //v-model表单的双向绑定
        //单个多选框绑定到一个bool值
        //多个多选框绑定到一个字符串数组
        //单个单选框绑定到一个字符串
        //下拉选择框绑定到一个字符串
        new Vue({
            el: "#app",
            data: {
                person: {
                    name: "小明",
                    age: 18,
                    sex: "boy"
                },
                msg: "a"
            },
            methods: {
                change() {
                    this.person.name = "小红";
                    this.person.salary = 10000;
                    this.msg.push("bb")
                    // Vue.set(this.person,"salary",12000)
                }
            }
        })
    </script>
</body>

</html>